
.icon-left-open:before { content: '\e800'; } /* '' */
.icon-right-open:before { content: '\e801'; } /* '' */
.icon-forward:before { content: '\e802'; } /* '' */
.icon-phone:before { content: '\e803'; } /* '' */
.icon-cancel-circled-outline:before { content: '\e804'; } /* '' */
.icon-search-outline:before { content: '\e805'; } /* '' */
.icon-search:before { content: '\e806'; } /* '' */
.icon-home:before { content: '\e807'; } /* '' */
.icon-location:before { content: '\e808'; } /* '' */
.icon-facebook-circled:before { content: '\f051'; } /* '' */
.icon-twitter-circled:before { content: '\f057'; } /* '' */
.icon-gplus-circled:before { content: '\f059'; } /* '' */
.icon-linkedin-circled:before { content: '\f05b'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-reply:before { content: '\f112'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */
.icon-gplus:before { content: '\f30f'; } /* '' */