#Przekierowanie bez WWW
Options +FollowSymLinks
RewriteEngine on
RewriteCond %{HTTP_HOST} ^www.web-service.com.pl [nc]
RewriteRule ^(.*)$ http://web-service.com.pl/$1 [r=301,nc]
## EXPIRES CACHING ##
<IfModule mod_expires.c>
ExpiresActive On
ExpiresByType image/jpg "access plus 7 day"
ExpiresByType image/jpeg "access plus 7 day"
ExpiresByType image/gif "access plus 7 day"
ExpiresByType image/png "access plus 7 day"
ExpiresByType image/x-icon "access plus 7 day"
ExpiresDefault "access plus 7 day"
</IfModule>