$header-color-brown: #372d2b;
$background-color-brown: #241D1C;
$background-image-texture: url(../../dist/images/background-texture.png);

$header-h1: .8em;
$header-h2: 1.4em;
$header-h3: 1.2em;

$placeholder: #ebebeb;
$padding-top-header: 20px;
